
#subject {
  background-color: rgb(243, 243, 243);
  border-radius: 2px;
  text-align: center;
  border-top: 2px solid lightslategray;
  border-bottom: 2px solid lightslategray;
}

#csv {
  background-color: lightgrey;
  border: 2px solid lightpink;
  padding: 4px;
  border-radius: 5px;
  margin-left: 30px;
  cursor: pointer;
}

.monospace {
  font-family: monospace;
}

#repeat {
  cursor: alias;
}

.hashtags {
  font-style: italic;
  color: darkolivegreen;
  margin-top: 5px;
}

.order {
  background-color: black;
  color: white;
  border-radius: 2px;
  font-family: monospace;
  padding: 3px;
}

.search-row {
  background-color: #fef3f5;
  margin-bottom: 10px;
}

ol,ul {
  font-size: 1.4rem;
}

.qlist {
  border-radius: 5px;
  padding: 0px 3px 0px 3px;
  background-color: rgb(0, 32, 32);
}

.error {
  font-family: monospace;
  background-color: lightgray;
  color: red;
  font-size: 3em;
}