
#subject {
  background-color: lightgrey;
  padding: 4px;
  border: 2px solid lightslategray;
  border-radius: 5px;
}

#csv {
  background-color: lightgrey;
  border: 2px solid lightpink;
  padding: 4px;
  border-radius: 5px;
  margin-left: 30px;
  cursor: pointer;
}

#repeat {
  font-family: monospace;
  margin-left: 30px;
  cursor: alias;
}

.hashtags {
  font-style: italic;
  color: darkolivegreen;
  margin-top: 5px;
}

.order {
  background-color: black;
  color: white;
  border-radius: 2px;
  font-family: monospace;
  padding: 3px;
}

.search-row {
  background-color: #fef3f5;
  margin-bottom: 10px;
}
