.tiktok {
    background-color: #fff;
    /* remind self: produced with https://glitchart.io/ */
    /* background-image: url("/images/glitch-art-bg-2.jpg"); */
}

.jumbotron-home {
    clear:both;
    min-height: unset !important;
}

.core {
    padding-top: 9em;
}

p {
    font-size: 1.4em;
}
